[Unit]
Description=AtlasPi Task Management System
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=%h/atlaspi
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:%h/atlaspi/venv/bin
ExecStartPre=%h/atlaspi/update.sh
ExecStart=%h/atlaspi/venv/bin/python %h/atlaspi/setup.py --service
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target